<?php
/**
 * @var \MyUser\Entity\MyUser[]        $users
 */
print $this->showMessages();
?>
<table class="table">
    <tbody>
    <?php if($users): ?>
        <?php foreach($users as $user): ?>
            <tr>
                <td><p><?= $user->getEmail()?></p></td>
                </tr>
        <?php endforeach; ?>
    <?php else: ?>
    <?php endif; ?>
    </tbody>
    <thead>
    <tr>
        <th>Name</th>

    </tr>
    </thead>
</table>