<div class="log-center">
    <h1 class="head">Login</h1>
    <p class="alert"><?= isset($message) ? $message : '' ; ?></p>
    <form action="<?= $this->url('user:login');?>" method="post" class="loginForm">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" name="email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
        </div>
        <input type="submit" value="Log in!" class="btn btn-primary"/>
    </form>
</div>