<p class="alert"><?= isset($message) ? $message : '' ; ?></p>
<div class="cnt whited">
    <h1 class="head">Registration</h1>
    <form action="<?= $this->url('user:reg') ;?>" method="post">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" name="email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
        </div>
            <input type="submit" value="Go!" class="btn btn-primary"/>
    </form>
</div>
