<?php
	$title = 'Add new quiz';
	$this->headTitle($title);
	print $this->showMessages();
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<?php if ($this->identity()): ?>
	<form action="<?= $this->url('quiz:add'); ?>" method="post">
		<div class="form-group">
			<label for="title">Title</label>
			<input name="title" type="text" class="form-control" placeholder="Enter title">
		</div>
		<div class="form-group">
			<label for="text">Full text</label>
			<textarea name="text" class="form-control" placeholder="Enter quiz"></textarea>
		</div>
		<div class="checkbox">
			<label>
				<input name="state" type="checkbox"> Published
			</label>
		</div>
		<button type="submit" class="btn btn-default">Save</button>
	</form>
<?php endif ; ?>