<?php
/**
 * @var \Zend\InputFilter\InputFilter             $filter
 * @var \QuizMod\Entity\QuizPost                  $quiz
 */
    $title = 'Edit quiz';
    $this->headTitle($title);
print $this->showMessages();
?>
<h1><?php echo $this->escapeHtml($title); ?></h1>
<?php if ($this->identity()): ?>
<form action="<?=$this->url('quiz:edit', [
    'id' => $quiz->getId(),
]); ?>" method="post">
    <div class="form-group <?= (!$filter->get('title')->isValid())? 'has-error' : '';?>" >
        <label for="title">Title</label>
        <input name="title" type="text" class="form-control" value="<?= $filter->getValue('title') ?>">
    </div>
    <div class="form-group <?= (!$filter->get('text')->isValid())? 'has-error' : '';?>">
        <label for="text">Full text</label>
        <textarea name="text" class="form-control"><?= $filter->getValue('text') ?></textarea>
    </div>
    <div class="checkbox">
        <label>
            <input name="state" type="checkbox" <?= ($filter->getValue('state') == \QuizMod\Entity\QuizPost::PUBLISHED_STATUS)? "checked" : ''; ?> > Published
        </label>
    </div>
    <button type="submit" class="btn btn-default">Save</button>
</form>
<?php endif ; ?>