<?php
/**
 * @var \QuizMod\Entity\QuizPost[]        $quizes
 */
if ($this->showMessages())
    print $this->showMessages();
?>
<?php if (!$this->identity()): ?>
    <a class="btn btn-default" role="button" href="<?= $this->url('user:login'); ?>">Login</a> or
    <a class="btn btn-default" role="button" href="<?= $this->url('user:reg'); ?>">Register</a>
<?php endif; ?>
<?php if ($this->identity()): ?>
    <a class="btn btn-default" role="button" href="<?= $this->url('user:logout'); ?>">Log out</a>
<?php endif; ?>

<table class="table">
    <tbody>
    <?php if($quizes): ?>
        <?php foreach($quizes as $quiz): ?>
        <tr>
            <td><a href="<?= $this->url('quiz:view', [
                'action' => 'view',
                'id' => $quiz->getId(),
            ]); ?>"><?= $quiz->getTitle()?></a></td>
            <td><?= $quiz->getCreated()->format("Y-m-d H:i:s")?></td>
            <td><?= count($quiz->getAnswers()) ;?></td>
            <?php if ($this->identity()): ?>
            <td>
                <a href="<?= $this->url('quiz:edit', [
                    'action' => 'edit',
                    'id' => $quiz->getId(),
                ]); ?>">Edit</a>
            </td>
            <td>
                <a href="<?= $this->url('quiz:remove', [
                    'action' => 'remove',
                    'id' => $quiz->getId(),
                ]); ?>">Remove</a>
            </td>
            <td>
                <p> <?= ($quiz->getState() == \QuizMod\Entity\QuizPost::PUBLISHED_STATUS)? "Published" : 'Unpublished'; ?></p>
            </td>
            <?php endif ; ?>
        </tr>
        <?php endforeach; ?>
    <?php else: ?>
    <?php endif; ?>
    </tbody>
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Count</th>
            <?php if ($this->identity()): ?>
                <th>Edit</th>
                <th>Delete</th>
                <th>Status</th>
            <?php endif ; ?>
        </tr>
    </thead>
</table>
<?php if ($this->identity()): ?>
<a class="btn btn-default" href="<?= $this->url('quiz:add', [
    'action' => 'add',
]); ?>" role="button">Add</a>
<?php endif ; ?>
