<?php
/**
 * @var QuizMod\Entity\QuizPost        $quiz
 */
/**
 * @var QuizMod\Entity\Answer           $answer
 */
$title = 'Add new quiz';
$this->headTitle($title);
print $this->showMessages();
?>
<p>You are loged in as <?= $this->identity()->getEmail(); ; ?></p>
    <div class="panel panel-default">
        <div class="panel-heading">
            <?= $quiz->getTitle(); ?>
        </div>
        <div class="panel-body">
            <p><?= $quiz->getText(); ?></p>
        </div>
    </div>

<h2>Answers</h2>
<table class="table">
    <?php if($quiz->getAnswers()): ?>
        <?php foreach ($quiz->getAnswers() as $ans): ?>
            <tr>
                <td>
                    <p><?= $ans->getText(); ?></p>
                </td>
                <td>
                    <p><?= $ans->getUser()->getEmail() ; ?></p>
                </td>
                <td>
                    <?php if ($this->identity()): ?>
                        <?php if (($this->identity()->getId() == $quiz->getUser()->getId()) OR  ($this->identity()->getId() == $ans->getUser()->getId())): ?>
                            <a href="<?= $this->url('quiz:deletecomment', [
                                'ansid' => $ans->getId(),
                                'qid' => $quiz->getId(),
                                'action' => 'deletecomment',
                            ]); ?>" class="glyphicon glyphicon-remove-sign"></a>
                        <?php endif ;?>
                    <?php endif ; ?>
                </td>
            </tr>
        <?php endforeach; ?>
    <?php endif; ?>
</table>
<?php
print $this->showMessages();
?>
<?php if ($this->identity()): ?>
    <form action="<?= $this->url('quiz:addcomment',[
        'action' => 'addcomment',
        'id' => $quiz->getId(),
    ]); ?>" method="post">
        <div class="form-group">
            <label for="text">Fill in your answer</label>
            <textarea name="text" class="form-control" placeholder="Enter answer"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Add answer</button>
    </form>
<?php endif ; ?>